@tailwind base;
@tailwind components;

.btn {
    @apply inline-block text-sm px-5 py-3 rounded-lg shadow-lg uppercase tracking-wider font-semibold;
}

.btn:focus {
    @apply outline-none ring; 
}

.btn-indigo {
    @apply bg-indigo-500 text-white;
}

.btn-indigo:hover {
    @apply bg-indigo-400;
}

.btn-indigo:active {
    @apply bg-indigo-800;
}
@variants responsive {
    .origin-top-right {
        transform-origin: top right;
    }
    .transition-all {
        transition-property: all;
    }
    .transition-slow {
        transition-duration: 250ms;
    }
    .ease-in {
        transition-timing-function: cubic-bezier(0.55, .085, .68, .53);
    }
}

@tailwind utilities;